page-list {
  .content {
    background-color: #2d7cb1;
    background-image: url('../assets/imgs/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover; //background-position-y: -40px;
    .button {
      padding: 25px 16px;
      width: 80%;
    }
    &.content-ios {
      padding-top: 20px;
    }
  }
}

ion-col,
.col {
  position: initial;
}


.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}
